<header>
    <nav>
        <a href="/">Stock Exchange Game</a>
        <ul>
            <li><a href="/brokers">Brokers</a></li>
            <li><a href="/brokers/new">Add Brokers</a></li>
        </ul>
    </nav>

</header>