<div >
    <input placeholder="Username" id="username" type="text" name="username" required style="width: 100%; padding: 10px 0; margin: 5px 0; border-top:0; border-right:0; border-bottom:1px solid #999; border-left:0; outline:none; background: transparent;">
</div>
  
<div>
    <input placeholder="Password" type="password" id="current-password" name="password" required style="width: 100%; padding: 10px 0; margin: 5px 0; border-top:0; border-right:0; border-bottom:1px solid #999; border-left:0; outline:none; background: transparent; margin-top:20px;margin-bottom: 20px;">
</div>