<div>
    <label>Username</label>
    <input id="username" type="text" name="username" required>
</div>
  
<div>
    <label for="password">Password</label>
    <input type="password" id="current-password" name="password" required>
</div>