<h2>Search Broker</h2>
<form action="/brokers" method="GET">
    <label>Name</label>
    <input type="text" name="name" valu="<% searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<%brokers.forEach(broker=>{%>
    <div>Username: <%= broker.username %></div>
    <a href="/brokers/<%= broker.id %>/login">LogIn</a>
    <form method="POST" action="/brokers/<%= broker.id %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
<%})%>