<div class="hero">
    <div class="sidekick">
      <h1 class="title">Register</h1>
      <form action="/register" method="POST">
        <%- include('_form_fields') %>
        <button type="submit" class="button">Register</button>
        <a href="/login" class="swap">Login</a>
      </form>
    </div>
  </div>